/*
	IMPORT EXTERNALS, MIXINS, ELEMENTS, PRESETS, VARIABLES
 */
@import "bootstrap";
@import "bootstrap-glyphicons";
@import "mixins";
@import "fonts";

/* Custome styles */

/* Adding padding to the top of each Div in the Container Div inside the Main Div - to prevent the Navbar from hiding the top contents inside each div*/
body .pad_up {
		padding-top: 40px;
}

/* Overriding Bootstrap default alignment for table headers on the pricing table */
.pricing th {
	text-align: center;
}

	/* -- Footer Styles -- */
footer {
	background-color: #F8F8F8;
	border-top: 1px #E6E6E6 solid;
}

